body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: aliceblue;
    color: darkred;
}

span {
    color: darkred;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.2em;
}

button {
    border: .5px solid black;
    border-radius: 3px;        
    padding: 6px;    
    background-color:darkred;
    color: aliceblue;   
}

.save-load-buttons {    
    display: flex;
    justify-content: space-around;
    width: 112px;
    margin: 12px auto;
}

#container {
    margin-top: 12px;
}

#pane {
    margin: 0 auto;    
}

.cell {
    border: .5px solid black;
    border-radius: 20%;
    width: 9px;
    height: 9px;
    margin: 1px;
}

.row {
    display: flex;
    justify-content: center; 
    align-items: center;
} 

#color-picker {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background-color: antiquewhite;
    width: 768px;
    height: 50px;
    margin: 0 auto;   
}

#palete{
    flex-basis: 33%;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}


.color {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: .5px solid black;
}

#red{background-color: red;}

#orange{background-color: orange;}

#yellow{background-color: yellow;}

#green{background-color: green;}

#cyan{background-color: cyan;}

#blue{background-color: blue;}

#violet{background-color: violet;}

#white{background-color: white;}

#black{background-color: black;}

#picked-color {
    width: 35px;
    height: 20px;
    border: .5px solid black;
    background-color: white;
}

#buttons {
    margin: 12px auto;
    width: 768px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

#erace {    
    margin-right: 18px; 
}

#custom-color-picker{
    margin: 0 6px;
    flex-basis: 50%;
}

#save, #load {
    width:50px;
}

#save-tip, #load-tip {
    position: absolute;    
    top: 45px;
    background-color: antiquewhite;
    color: darkred;
    padding: 6px;
    border-radius: 4px;
    width: 158px;
    visibility: hidden;
}

#save-tip{
    right: 47%;    
}

#load-tip{
    right: 44%;    
}

#save-button:hover #save-tip{
    visibility: visible;
}

#load-button:hover #load-tip{
    visibility: visible;
}
